---
import { withBase } from "../utils/config-utils.ts";

function removeTrailingSlash(str: string): string {
  return str.endsWith("/") ? str.slice(0, -1) : str;
}
const pathname = removeTrailingSlash(Astro.url.pathname)
  .split("/")
  .slice(-1)[0];
const homePageUrl = withBase("/");
const contactPageUrl = withBase("/contact");
const legalPageUrl = withBase("/mentions-legales");
const aboutPageUrl = withBase("/a-propos");
---

<style>
  .nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background: #444;
  }
  .nav a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  .nav a.active {
    color: wheat;
  }
</style>

<p>{Astro.url.pathname}</p>
<p>{pathname}</p>
<div class="nav">
  <a href={homePageUrl} class={pathname === "" ? "active" : ""}>Home</a>
  <a href={contactPageUrl} class={pathname === "contact" ? "active" : ""}
    >Contact</a
  >
  <a href={legalPageUrl} class={pathname === "mentions-legales" ? "active" : ""}
    >Mentions Légales</a
  >
  <a href={aboutPageUrl} class={pathname === "a-propos" ? "active" : ""}
    >À Propos</a
  >
</div>
